allow appdomain qdsp_device:chr_file r_file_perms;
get_prop(appdomain, camera_prop)
get_prop(appdomain, debug_gralloc_prop)
get_prop(appdomain, hwui_prop)
