allow hal_power_default debugfs_rpm:file r_file_perms;
allow hal_power_default mpctl_socket:dir search;
unix_socket_connect(hal_power_default, mpctl, perfd)
