type ims, domain;
type ims_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(ims)
net_domain(ims)

qmux_socket(ims)

allow ims self:capability net_raw;
allow ims self:socket create_socket_perms;
allowxperm ims self:socket ioctl msm_sock_ipc_ioctls;
allow ims sysfs:file r_file_perms;

set_prop(ims, qcom_ims_prop)

userdebug_or_eng(`
    diag_use(ims)
')
