type qmuxd, domain;
type qmuxd_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(qmuxd)

net_domain(qmuxd)

wakelock_use(qmuxd)

qmux_socket(qmuxd);

allow qmuxd self:capability { setuid setgid setpcap };

userdebug_or_eng(`
  domain_auto_trans(shell, qmuxd_exec, qmuxd)
')

allow qmuxd carrier_file:dir search;
allow qmuxd carrier_file:file rw_file_perms;

allow qmuxd diag_device:chr_file rw_file_perms;

allow qmuxd qmuxd:socket create_socket_perms_no_ioctl;

allow qmuxd smd_device:chr_file rw_file_perms;
allow qmuxd smem_log_device:chr_file rw_file_perms;

allow qmuxd sysfs:file rw_file_perms;

r_dir_file(qmuxd, sysfs_esoc)
r_dir_file(qmuxd, sysfs_ssr);
