# IMS needs permission to use avtimer
allow radio avtimer_device:chr_file r_file_perms;

allow radio { cameraserver_service mediaextractor_service mediacodec_service }:service_manager find;

qmux_socket(radio)

# diag
userdebug_or_eng(`
    diag_use(radio)
')

r_dir_file(radio, system_app_data_file)
